* {
  box-sizing: border-box;
  font-size: 30px;
  font-weight: 400;
  }
ul {
  list-style: none;
  min-width: 70%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0;
  }
.container {
  min-height: 100vh;
  text-align: center;
  background-color: #8a44c4;
  }
.logo {
  display: flex;
  align-items: center;
  margin-left: 10%;
  font-style: italic;
  }
.todoList {
  background-color: #4b095f;
  display: flex;
  max-width: 60%;
  margin: auto;
  flex-direction: column;
  }
.todo{
  background-color: #8b3dca;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  color: #FFFFFF;
  min-width: 80%;
  padding-left: 5px;
  }
.addTodo_title {
  font-size: 50px;
  color: #FFFFFF;
  }
.addTodo_input {
  width: 60%;
  font-family: inherit;
  }
.todo_button {
  border: 0px;
  cursor: pointer;
  margin-right: 10px;
  }
.editTodo {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  }
input {
  width: 100%;
  color: #FFFFFF;
  background-color: #4b095f;
  border: 1px solid #be6fff;
  padding-left: 5px;
  }
button {
  background-color: #be6fff;
  border: 0px;
  cursor: pointer;
  font-family: inherit;
  border: 1px solid #be6fff;
  color: #ffffff;
  }
button:hover{
  background: rgba(0,0,0,0);
	color: #ffffff;
  }
.todo_buttons {
  display: flex;
  align-items:center;
  }